<div class="card" style="width: 18rem;">
  <img src="https://avatars2.githubusercontent.com/u/35648860?s=400&u=dcf3c3040827705c5d0a4b3fc72c49566e94ade5&v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Jesus Garcia: Desarrollador Web!</h5>
    <p class="card-text">Si quieres materializar tu idea de crear un Sitio Web!... Contactame!</p>
    <p><b>Links:</b></p>
    <a href="/">Mail: jesus.g.jg7@gmail.com</a>
    <a href="https://www.facebook.com/jesusgarcia149">Facebook</a>
    <a href="https://www.instagram.com/jesusgarcia149">Instagram</a>
    <a href="https://github.com/jesusgarcia149">Github</a>
  </div>
</div>